@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* outline: 1px solid red; */
}
nav {
  background-color: #28293e;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
.logo {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin: 0 50px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
}
nav ul li a:hover {
  color: #ef6d58;
}
.cnt {
  background-color: #28293e;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  border: 0.5px solid white;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}
.cnt:hover {
  background-color: #ef6d58;
  color: #28293e;
  border: 0.5px solid #ef6d58;
}
.hero{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #28293e;

}
.heroText{
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 50px;
}
.heroText p{
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.herofirst{
    color: #ef6d58;
    font-size: 18px;
    font-weight: bolder;

}
.heroText h1{
    font-size: 65px;
    font-weight: bolder;
    margin-bottom: 20px;
    color:white;
}
.herosec{
    color: #B2B2BA  ;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.btn{
    background-color: #ef6d58;
    color: white;
    height: 55px;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    border-color: transparent;
}
.two{
    background-color: #28293e;
    color: white;
    height: 55px;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: lighter;
}
.heroImage{
    padding-right: 100px;
}
.heroImage img{
    padding-top: 100px;
    height: 650px;
}
.lowerhero{
    background-color: #28293e;
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 100px;
}
.lowerhero img{
    height: 50px;
    width: 50px;
    margin-right: 20px;
    
}
.lowerherofirst{
    color: #B2B2BA;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 15px;
}
.lowerherosec{
    color: white;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 15px;
}
.afterhero{
    background-color: #FDF0E9;
    height: 20vh;
    width: 100%;
    overflow: hidden;

}
.afterhro{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDF0E9;
    padding: 50px 100px;

}
.aboutText{
    padding-left: 100px;
    /* padding-right: 100px; */
}

.abouttitle{
    font-size: 65px;
    font-weight: bolder;
    margin-bottom: 20px;

}
.aboutText > h6{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.aboutpara{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
    color: #B2B2BA;
}
.aboutfirst{
    padding-left: 10px;
    color: #ef6d58;
    font-size: 18px;
    font-weight: normal;
}
.abtbtn{
    background-color: white;
    color: black;
    height: 55px;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
    border-color: transparent;
}
.aboutImage img{
    height: 500px;
    /* width: 500px; */
}