@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* outline: 1px solid red; */
}
nav {
  background-color: #28293e;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
.logo {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin: 0 50px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
}
nav ul li a:hover {
  color: #ef6d58;
}
.cnt {
  background-color: #28293e;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  border: 0.5px solid white;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}
.cnt:hover {
  background-color: #ef6d58;
  color: #28293e;
  border: 0.5px solid #ef6d58;
}
.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #28293e;
}
.heroText {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 50px;
}
.heroText p {
  font-weight: lighter;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.herofirst {
  color: #ef6d58;
  font-size: 18px;
  font-weight: bolder;
}
.heroText h1 {
  font-size: 65px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: white;
}
.herosec {
  color: #b2b2ba;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.btn {
  background-color: #ef6d58;
  color: white;
  height: 55px;
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border-color: transparent;
}
.two {
  background-color: #28293e;
  color: white;
  height: 55px;
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: lighter;
}
.heroImage {
  padding-right: 100px;
}
.heroImage img {
  padding-top: 100px;
  height: 650px;
}
.lowerhero {
  background-color: #28293e;
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 100px;
}
.lowerhero img {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}
.lowerherofirst {
  color: #b2b2ba;
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 15px;
}
.lowerherosec {
  color: white;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 15px;
}
.afterhero {
  background-color: #fdf0e9;
  height: 30vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.afterhro {
  /* padding-top: 50px; */
  padding-left: 100px;
  padding-right: 100px;
}
.hrafterwork {
  border: 0.5px solid #f3d1bf;
  width: 100%;
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf0e9;
  padding: 50px 100px;
}
.aboutText {
  padding-left: 100px;
  /* padding-right: 100px; */
}

.abouttitle {
  font-size: 65px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.aboutText > h6 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.aboutpara {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
  color: #b2b2ba;
}
.aboutfirst {
  padding-left: 10px;
  color: #ef6d58;
  font-size: 18px;
  font-weight: normal;
}
.abtbtn {
  background-color: white;
  color: #391400;
  height: 55px;
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bolder;
  border-color: transparent;
}
.aboutImage img {
  height: 500px;
  /* width: 500px; */
}

.number {
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf0e9;
}
.box {
  border: 1px solid #f3d1bf;
  padding: 30px 20px;
  /* text-align: center; */
  width: 450px;
}
.boxfirst {
  color: #391400;
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.boxsec {
  color: #391400;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}
.work {
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdf0e9;
}
.workfirst {
  color: #ef6d58;
  font-weight: normal;
  margin-bottom: 20px;
}
.worktitle {
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: #391400;
}
.workpara {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
  color: #391400;
  line-height: 2;
}
.workbtn {
  background-color: transparent;
  color: #391400;
  height: 55px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bolder;
  border-color: transparent;
}
.worklist {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin-top: 50px;
  padding-left: 50px;
  flex-direction: column;
}
.worklistone {
  display: flex;
  align-items: center;
  align-content: start;
}
.paralistnum {
  color: #391400;
  font-size: 75px;
  font-weight: bolder;
  margin-bottom: 20px;
  margin-right: 20px;
}
.paralisttxt {
  color: #391400;
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.video {
  padding: 100px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdf0e9;
}
/* .imgofvideo{
    height: 500px;
    width: 500px;
    margin-right: 80px;
} */
.videotxt {
  margin-left: 100px;
}
.videofirst {
  color: #ef6d58;
  font-weight: normal;
  margin-bottom: 20px;
}
.videotitle {
  font-size: 45px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: #391400;
}
.videopara {
  font-size: 18px;
  margin-bottom: 20px;
  color: #391400;
  line-height: 1.5;
}
.videobtn {
  background-color: transparent;
  color: #391400;
  height: 55px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bolder;
  border-color: transparent;
}
.features {
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdf0e9;
}
.featuresText {
  margin-right: 100px;
}
.featuresfirst {
  color: #ef6d58;
  font-weight: normal;
  margin-bottom: 20px;
}
.featurestitle {
  font-size: 75px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: #391400;
}
.featurespara {
  font-size: 18px;
  margin-bottom: 20px;
  color: #391400;
  line-height: 1.5;
}
.featuresimgin {
  height: 500px;
  width: 500px;
}
.featurelist {
  margin-top: 50px;
}
.featurelistone {
  display: flex;
  align-items: center;
  align-content: start;
  margin-bottom: 20px;
}
.featurelistnum {
  color: #ef6d58;
  margin-right: 25px;
}
.featurelisttxt {
  color: #391400;
  font-size: 18px;
  font-weight: normal;
}
.featurediv {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 50px 100px;
  background-color: #fdf0e9;
}
.featuretxt {
  margin-right: 100px;
  padding-bottom: 30px;
}
.featurefirst {
  color: #ef6d58;
  font-weight: normal;
  margin-bottom: 20px;
}
.featurepara {
  font-size: 18px;
  margin-bottom: 20px;
  color: #391400;
  line-height: 1.5;
}
.featurebtn {
  color: #391400;
  background-color: transparent;
  border: transparent;
  font-size: 18px;
  font-weight: normal;
}
.featurepro {
  height: 280px;
  width: 300px;
  border: 1px solid #f3d1bf;
  background-color: white;
  padding: 30px;
}
.featureproimg {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #ef6d58;
  display: flex;
  align-items: center;
  justify-content: center;
}
.featureprotitle {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: #391400;
}
.featureprotxt{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
    color: #391400;
    line-height: 1.5;
}
.featureaccess{
  border: 1px solid #f3d1bf;
  height: 200px;
  padding: 30px 30px;
}
.featureacc{
  margin-top: 20px;
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: #391400;

}
.featureacctxt{
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
  color: #391400;
  line-height: 1.5;
}
.service{
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdf0e9;
}
.serviceimg{
  height: 500px;
  width: 500px;
  margin-right: 100px;
}
.serviceimgin{
  height: 500px;
}
/* .serviceText{
  margin-right: 100px;
} */
.servicefirst{
  color: #ef6d58;
  font-weight: normal;
  margin-bottom: 20px;
}
.servicetitle{
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: #391400;
}
.servicepara{
  font-size: 24px;
  margin-bottom: 20px;
  color: #391400;
  line-height: 1.5;
}
.servicebtn{
  color: #391400;
  background-color: white;
  height: 60px;
  width: 150px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bolder;
  border-color: transparent;
  border: transparent;
  font-size: 18px;
  font-weight: normal;
}
.servicediv{
  padding: 50px 100px;
  background-color: #fdf0e9;
}
.servicedivfirst{
  color: #ef6d58;
  font-weight: normal;
  margin-bottom: 20px;
}
.servicedivtitle{
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: #391400;
}
.kajerlist{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  background-color: #fdf0e9;
  margin-top: -30px;
}
.design{
  border: 1px solid #f3d1bf;
  height: 350px;
  padding: 50px 50px;
}
.development{
  border: 1px solid #f3d1bf;
  height: 350px;
  padding: 50px 50px;
}
.marketing{
  border: 1px solid #f3d1bf;
  height: 350px;
  padding: 50px 50px;
}
.designimg{
  border-radius: 50%;
  background-color: #ef6d58;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.designtitle{
  margin-top: 20px;
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: #391400;
}
.designtxtin{
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
  color: #391400;
  line-height: 1.5;
}
.designbtn{
  color: #391400;
  background-color: transparent;
  border: transparent;
  font-size: 18px;
  font-weight: normal;
}
.developmentimg{
  border-radius: 50%;
  background-color: #ef6d58;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.developmenttitle{
  margin-top: 20px;
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: #391400;
}
.developmenttxtin{
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
  color: #391400;
  line-height: 1.5;
}
.developmentbtn{
  color: #391400;
  background-color: transparent;
  border: transparent;
  font-size: 18px;
  font-weight: normal;
}
.marketingimg{
  border-radius: 50%;
  background-color: #ef6d58;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.marketingtitle{
  margin-top: 20px;
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: #391400;
}
.marketingtxtin{
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
  color: #391400;
  line-height: 1.5;
}
.marketingbtn{
  color: #391400;
  background-color: transparent;
  border: transparent;
  font-size: 18px;
  font-weight: normal;
}
.portfolio{
  background-color: #28293E;
  padding: 50px 100px;
}
.portfoliotext{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.portfoliofirts{
  color: #ef6d58;
  font-weight: normal;
  margin-bottom: 20px;
}
.portfoliotitle{
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: white;
  margin-bottom: 35px;
}
.portfoliolist{
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolioul{
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolioli{
  list-style: none;
  color: #B2B2BA;
  padding-right: 30px;
}
.portspecial{
  color: white;
}
.portfolioimg{
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 100px;
  background-color: #28293E;
}
.title{
  position: absolute;
  top: 50%;
  background-color: white;
  border-radius: 25px;
  color: #391400;
  height: 40px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bolder;


}
.stitle{
  position: absolute;
  top: 65%;
  font-size: 55px;
  font-weight: bolder;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;

}
.sdesign{
  background-image: url(./images/sDesign.png);
  height: 300px;
  width: 40%;
  background-repeat: no-repeat;
  margin-right: 15px;
  position: relative;
  padding: 50px;

}
.sbranding{
  background-image: url(./images/branding.png);
  height: 300px;
  width: 62%;
  margin-right: -50px;
  background-repeat: no-repeat;
  position: relative;
  padding: 50px;
}
.sillustration{
  background-image: url(./images/illustration.png);
  height: 300px;
  width: 60%;
  margin-top: 20px;
  /* margin-right: 15px; */
  background-repeat: no-repeat;
  position: relative;
  padding: 50px;
}
.smotion{
  background-image: url(./images/motion.png);
  height: 300px;
  width: 40%;
  background-repeat: no-repeat;
  margin-right: -9px;
  margin-top: 20px;
  position: relative;
  padding: 50px;
}
.portfoliobtn{
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #28293e;
  padding: 50px 100px;
}
.portfoliobtnin{
  color: white;
  background-color: transparent;
  border: 2px solid #686877;
  font-size: 18px;
  font-weight: normal;
  padding: 10px 30px;
  border-radius: 15px;
  height: 60px;
}